github:
  generate:
    token: [create a file named taskman.yml and set the token in it.]
  owner: [The repository owner, normally the company name.]
  repo: [The repository name.]
  release:
    branch: 'master'
  exclude:
    labels: [feature-branch, bugfix-branch]
command:
  githubchangelog:generate:
    description: Generate a changelog for github.
    tasks:
      - docker run  --rm -v $(pwd):$(pwd) -w $(pwd) -i muccg/github-changelog-generator ${github.owner}/${github.repo} -t ${github.generate.token} --release-branch ${github.release.branch} --exclude-labels ${github.exclude.labels}
    options:
      owner:
        config: github.owner
        description: 'The repository owner.'
        default: ${github.repo}
      repo:
        config: github.repo
        description: 'The repository name.'
        default: ${github.repo}
      branch:
        config: github.release.branch
        description: 'The branch to be released.'
        default: 'master'
      token:
        config: github.generate.token
        description: 'The Token'
        default: ${github.generate.token}
      labels:
        config: github.exclude.labels
        description: 'The Token'
        default: ${github.exclude.labels}